
.tab-bar {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 200px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1C1C1C;
    position: relative;
  }
  .tab {
    width: 58px;
    height: 52px;
    padding: 0 16px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .visible {
    visibility: visible;
    cursor: pointer;
  }

  .tab.active::before {
  content: '';
  width: 40px;
  border-bottom: 3px solid white;
  bottom: -1px;
  position: absolute;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}
  


  .tab-item {
    width: 26px;
    height: 52px;
    padding: 16px 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .tab-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    text-align: center;
    color: #8D8D8D;
  }
  
  .tab-item-special {
    max-width: 40px;
    height: 35px;
    gap: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tab-label-special {
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    text-align: center;
    color: #8D8D8D;
    text-transform: uppercase;
  }


  .active h2 {
    color: white !important;
  }