.central-area {
    max-width: 375px;
    overflow-x: auto;
    max-height: 780px;
    height: auto;
    top: 156px;
    padding: 12px;
    gap: 16px;
}

.match-result {
    display: flex;
    align-items: center;
    max-width: 351px;
    width: auto;
    height: auto;
    max-height: 114px;
    padding: 8px 16px 8px 16px;
    gap: 32px;
}

.score {
    flex: 1;
    max-width: 93px;
    width: auto;
    height: auto;
    max-height: 98px;
    gap: 12px;
}


.score-layout {
    width: 93px;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .crumbs-score {
    width: 93px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .line {
    width: 2px;
    height: 40px;
    background-color: #6AD56A;
  }
  
  .frame {
    width: 89px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
  }
  
  .text-score {
    width: 20px;
    height: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;
    color: white;
  }
  
  .separator {
    width: 1px;
    height: 24px;
    background-image: url('https://i.postimg.cc/vB3HtfCw/Separator.png');
  }
  
  .r-line {
    width: 2px;
    height: 40px;
    background-image: url('https://i.postimg.cc/cHb75g8P/R-Line.png');
  }
  
  .team-left,
  .team-right {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .team-left img {
    width: 48px;
    height: 52px;
  }
  
  .team-right img {
    width: 48px;
    flex: 1;
  }
  
  .barra {
    width: 351px;
    height: 1px;
  }

  .finished {
    width: 58px;
    height: 16px;
  }
  .text-finished {
    width: 58px;
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color:#6AD56A;
  }

  .training-token {
    max-width: 29px ;
    width: auto;
    height: auto;
    max-height: 18px;
    gap: 4px;
  }

  .box-content {
    width: 351px;
    height: 592px;
  }
  
  .module {
    width: 327px;
    height: 560px;
    gap: 20px;
  }
  
  .bar {
    width: 100%; /* Asegura que el li ocupe todo el ancho del ul */
    height: 38px;
    padding: 0px 0px 4px 0px;
    gap: 12px;
    list-style: none;
    display: flex; /* Hace que los elementos internos se alineen en fila */
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  
  .cont {
    flex: 1; /* Permite que .cont ocupe el espacio restante en .bar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 18px;
  }
  
  .description {
    text-transform: uppercase;
  }
  
  .text-numb {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
  }
  
  .text-descrip {
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    text-align: center;
    color: #8D8D8D;
  }
  

