
.colum-container {
    max-width: 800px;
    width: auto;
    height: 640px;
    border-top: 1px solid #1C1C1C;
    gap: 32px;
}

.game {
    max-width: 351px;
    height: 592px;
    padding: 16px 12px 16px 12px;
    gap: 8px;
}

.module {
    max-width: 327px;
    height: 560px;
    gap: 20px;
}

.info {
    max-width: 327px;
    height: 38px;
    padding: 0px 0px 4px 0px;
    gap: 12px;
}

.progress {
    max-width: 327px;
    height: 4px;
    background: transparent;
    position: relative;
  }
  
  .progress-color {
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%
  }